<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  <% if !Rails.env.production? %>
    <div class="environment_badge"><%= Rails.env %></div>
  <% end %>
  <div class="container-fluid" >
    <%= yield %>
  </div>
  </body>
</html>
