<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to Rails.application.class.parent_name, :front_root, :class => "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to t("layouts.menu.appreciations"), :front_appreciations, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "New Appreciation", new_front_appreciation_path, :class => "btn btn-outline-primary" %>
      </li>
    </ul>

    <span class="navbar-text">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_appreciable_user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Appreciations to me</a>
            <a class="dropdown-item" href="#">Appreciations by me</a>
            <div class="dropdown-divider"></div>
            <%= link_to t("layouts.menu.logout"), front_logout_path, class: "dropdown-item" %>
          </div>
        </li>
      </ul>


    </span>
  </div>
</nav>

<br>
